# Node & Extension Dependencies / Builds
node_modules/
dist/
extension/dist/
extension/.extension-js/
extension/.extension-create.json
*.log
.env
.env.local

# Android Application & Gradle Build Files
*.apk
*.ap_
*.dex
*.class
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.navigation/
android/proguard/
*.jks
crowdin.properties
.crowdin/config.yml

# IDE & Editor Files
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
